WH85ZH_1012/XMLwh85zh.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="etteremTipus">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="foszakacsTipus">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="szakacsTipus">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="gyakornokTipus">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="vendegTipus">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rendelesTipus">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="vendeglatas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="etterem" type="etteremTipus" maxOccurs="unbounded" />
                <xs:element name="foszakacs" type="foszakacsTipus" maxOccurs="unbounded" />
                <xs:element name="szakacs" type="szakacsTipus" maxOccurs="unbounded" />
                <xs:element name="gyakornok" type="gyakornokTipus" maxOccurs="unbounded" />
                <xs:element name="vendeg" type="vendegTipus" maxOccurs="unbounded" />
                <xs:element name="rendeles" type="rendelesTipus" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>

        <xs:key name="etterem_kulcs">
            <xs:selector xpath="etterem" />
            <xs:field xpath="@ekod" />
        </xs:key>

        <xs:key name="foszakacs_kulcs">
            <xs:selector xpath="foszakacs" />
            <xs:field xpath="@fkod" />
        </xs:key>

        <xs:key name="szakacs_kulcs">
            <xs:selector xpath="szakacs" />
            <xs:field xpath="@szkod" />
        </xs:key>

        <xs:key name="gyakornok_kulcs">
            <xs:selector xpath="gyakornok" />
            <xs:field xpath="@gykod" />
        </xs:key>

        <xs:key name="vendeg_kulcs">
            <xs:selector xpath="vendeg" />
            <xs:field xpath="@vkod" />
        </xs:key>

        <xs:keyref refer="etterem_kulcs" name="etterem_idegen_kulcs">
            <xs:selector xpath="rendeles" />
            <xs:field xpath="@e_v_e" />
        </xs:keyref>

        <xs:keyref refer="vendeg_kulcs" name="vendeg_idegen_kulcs">
            <xs:selector xpath="rendeles" />
            <xs:field xpath="@e_v_v" />
        </xs:keyref>

        <xs:keyref refer="etterem_kulcs" name="etterem_foszakacs_idegen_kulcs">
            <xs:selector xpath="foszakacs" />
            <xs:field xpath="@e_f" />
        </xs:keyref>

        <xs:keyref refer="etterem_kulcs" name="etterem_szakacs_idegen_kulcs">
            <xs:selector xpath="szakacs" />
            <xs:field xpath="@e_sz" />
        </xs:keyref>

        <xs:keyref refer="etterem_kulcs" name="etterem_gyakornok_idegen_kulcs">
            <xs:selector xpath="gyakornok" />
            <xs:field xpath="@e_gy"></xs:field>
        </xs:keyref>

    </xs:element>

    <xs:element name="etterem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nev" type="xs:string" />
                <xs:element name="cim">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="varos" type="xs:string" />
                            <xs:element name="utca" type="xs:string" />
                            <xs:element name="hazszam" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="csillag" type="xs:integer" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>